{% block sidebar %}
<style>
  .card {
    box-shadow: 0 16px 48px #6b6b6b;
  }
</style>
<!-- sidebar -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About NtechBlog</h5>
    <div class="card-body">
      <p class="card-text"> My Blog App is created using Django Web Framework for backend side, designed with bootswatch
        theme for UI - you can also visit my website🔥🔥🔥</p>
      <a href="https://nihargajera2.blogspot.com" class="btn btn-danger">Visit Website</a>
      <a href="https://nihargajera2.blogspot.com" class="btn btn-secondary">Here Website</a>
    </div>
  </div>
</div>
{% endblock sidebar %}
